#udraggable{z-index:8888888; position:fixed; bottom:0; min-height:20px; width:auto; overflow:hidden;
	padding:2px 2px 2px 7px; border-radius:7px 7px 0 0; font:normal 13px/1 sans-serif; color:#000; display:flex;
	background:rgba(175, 175, 175, .5); justify-content:space-between; align-items:center; }
#chrome_websiteIP ~ #udraggable,
#chrome_websiteIP ~ #sptools,
#udraggable:not(.left) ~ #chrome_websiteIP{left:1%; right:auto; }
#udraggable .server-num{font-weight:bold; }
#udraggable u{text-decoration:none; margin:0 6px 0 0; cursor:pointer; }
#udraggable u:before{content:'\1f780'; }
#udraggable u:after{content:'\1f782'; }
#udraggable a{color:#000; text-decoration:none; }
#udraggable b{color:#f00!important; }
#udraggable i{margin:0 5px; }
#udraggable #panel, #udraggable .owner-email{cursor:copy; }
#udraggable .toggle-sidebar, #udraggable .owner-email{font-size:16px; }
#udraggable .owner-email:before{content:'\1f4e7'; }
#udraggable .toggle-sidebar{transform:rotate(-90deg); }
#udraggable .toggle-sidebar.expanded{transform:rotate(90deg); }
#udraggable .toggle-sidebar:before{content:'\00bb'; font:bold normal 25px/.6 sans-serif; }
#udraggable .newcpflag{color:#d2d2d2; background:black; font:bold 11px/1 sans-serif; border-radius:4px;
	padding:1px 2px; cursor:default; vertical-align:text-top; margin:0 0 0 5px; }

#udraggable{right:10px; }
#udraggable.left{left:10px; right:auto; }
#udraggable ~ #sptools{right:0; }
#udraggable.left ~ #sptools{left:0; right:auto; }
/* override position jivosite */
#udraggable:not(.from-new-cp):not(.left) ~ #jivo-iframe-container,
#udraggable:not(.from-new-cp):not(.left) ~ jdiv > jdiv > jdiv[class*=bottom],
#udraggable:not(.from-new-cp):not(.left) ~ jdiv > jdiv > jdiv > jdiv,
#udraggable:not(.from-new-cp):not(.left) ~ jdiv > jdiv > jdiv { right:auto!important; left:2rem; }
/* override position siteheart */
#udraggable ~ #sh_button, #udraggable ~ div.shc.sh_chat{left:45%!important; right:auto; }

#sptools{position:fixed; top:0; padding:12px 12px 24px; bottom:0; z-index:7777777; overflow-y:auto;
	display:none; text-align:center; width:auto; }
#sptools.expanded{display:flex; flex-direction:column; align-items:center; opacity:1; }
#sptools img{width:32px; height:32px; margin:0 0 10px; }
#sptools ul{list-style:none; padding:0 0 10px; margin:0; width:100%; }
#sptools ul:last-child{padding:0 0 25px; }
#sptools ul li{padding:1px 0; }
#sptools ul li a{padding:2px 3px; background:#fff; cursor:pointer; text-transform:uppercase; width:100%;
	display:inherit; border-radius:2px; text-decoration:none; font:600 8pt/10pt Trebuchet MS, sans-serif;
	color:#2e607b; border:1px solid #fff; box-sizing:border-box; }
#sptools ul li a:hover{background:#ccc; color:#a50000 !important; }
#sptools h3{padding:0; margin:4px 0; color:rgba(127,127,127,.5); }

#sptools::-webkit-scrollbar{width:4px; }
#sptools::-webkit-scrollbar-track{-webkit-box-shadow:inset 0 0 6px #1ac; }
#sptools::-webkit-scrollbar-thumb{background-color:#1ac; outline:1px solid slategrey; }

.alogsp{display:block; border:2px solid #3b799d; padding:10px; font-size:22px; border-radius:7px; background:#3b799d;
	color:#fff; text-decoration:none; text-transform:uppercase; width:50%; margin:0 auto 25px; }
.alogsp:hover{background:#336e88; }
.fancybox-wrap.sptool-whois{z-index:99999; }
.repadded{padding-right:200px; }
@media print{
	#udraggable{display:none!important; }
}
